In [1]:
import pandas as pd
from sqlalchemy import create_engine, Float, VARCHAR, Text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError

pd.set_option("display.max_columns", None)
df = pd.read_csv('iscrizioni.csv',delimiter=';')
df.index.name = 'id_iscrizione'
df.head(2)

,WKF-ID,NAZIONALITÀ,CLUB,NAZIONALE,N,NOME,COGNOME,DATA DI NASCITA (AAAA-MM-GG),N.1,CATEGORIA,SQUADRE,STATUS,COMMENTO,TEMPO,FOTO,ID PASSAPORTO,ACCREDITO STAMPA,ACCREDITO TEMPO,SELEZIONARE LE AREE DI ACCESSO,SELEZIONARE LE AREE DI ACCESSO.1,CONTROLLO PESO / ALTEZZA,CONTROLLO MEDICO,TABELLONI,N CLUB,SESSO,Kyu/Kup,Dan,DEPENNARE,TESTA DI SERIE,NATIONAL ID,PESO / KG,ALTEZZA / CM,CONTATTO - EMAIL,Unnamed: 33
id_iscrizione,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,NaN,AUSTRIA,KADER_KARATE_TIROL(KADER_KT),T,930824,DANIELLA,ALDEMCHKI,2008-01-05,122508,ESKA INDIVIDUAL KATA FEMALE CADETS BROWN,NaN,NaN,NaN,2024-02-19 18:15:28,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,52053,f,3,0,NaN,NaN,NaN,50,0,NaN,NaN
1,NaN,AUSTRIA,KADER_KARATE_TIROL(KADER_KT),T,1050990,MAJA,KONRAD,2008-10-20,122578,ESKA INDIVIDUAL KATA FEMALE CADETS GREEN - BLUE,NaN,NaN,NaN,2024-02-19 18:15:28,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,52053,f,5,0,NaN,NaN,NaN,50,0,NaN,NaN

In [3]:
len(df)

1519

In [4]:
# Parametri DB
hostname = 'localhost'
username = 'root'
password = '932197'
database_name = 'localdb'

engine = create_engine(f'mysql+pymysql://{username}:{password}@{hostname}/{database_name}')
Session = sessionmaker(bind=engine)
session = Session()
try:
    df.to_sql('iscrizioni', con=engine, if_exists='replace', index=True, method='multi')
except SQLAlchemyError as e:
    print(f"Si è verificato un errore: {e}")
    session.rollback()
finally:
    engine.dispose()